<!-- templates/event_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ event[1] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ event[1] }}</h1>

     <p> <strong>Date:</strong> {{ event[2] }}</p>
     <p> <strong>Time:</strong> {{ event[3] }} to {{ event[4] }}</p>
     <p> <strong>Location:</strong> {{ event[5] }}</p>
     <p> <strong>Available Places:</strong> {{ event[6] }}</p>
     <p> <strong>Cost:</strong> £{{ "%.2f" | format(event[7]) }}</p>
     <p> <strong>Accommodation:</strong> {{ event[8] }}</p>
     <p> <strong>Travel Method:</strong> {{ event[9] }}</p>

    <form method="POST">
        <label for="places">Number of places to book:</label>
        <input type="number" name="places" min="1" max="{{ event[6] }}" required>
        <button type="submit">Book</button>
    </form>

    <a href="{{ url_for('events') }}">← Back to Events</a>
</body>
</html>