<!-- templates/events.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upcoming Events</h1>
    <ul>
    {% for event in events %}
        <li>
         <strong>{{ event[1] }}</strong><br>
          {{ event[2] }}<br>
          {{ event[3] }} to {{ event[4] }}<br>
          {{ event[5] }}<br>
          {{ event[6] }} places available<br>
          £{{ "%.2f" | format(event[7]) }}<br>
          {{ event[8] }} | 🚗 {{ event[9] }}<br>
          <a href="{{ url_for('event_detail', event_id=event[0]) }}">View Details</a>
         </li>
        <hr>
    {% endfor %}
    </ul>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>